.playlistContainer{
    background: #black;
    min-height: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.odd{
  background-color: #272a2e;
}

.even{
  background-color: #4a4d52;
}

.playlist-item-container{
  background-color: black;
  margin-left: 20px;
  margin-right: 20px;

}

.playlist-song-item{
  font-size: 18px;
  font-style: bold;
  padding-left: 10px;
  padding-right: 10px;
}


.playlist-item{

  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.playlist-link{
  color: white;
  font-size: 18px;
  font-style: bold;
}

.song-link{
  color: white;
  font-size: 18px;
  font-style: bold;
}

  img{
    margin-right: 10px;
  }
  a{

  }

  .ex {
    padding: 2rem;
    border: 1px solid grey;
  }
  .separator {
    border: 1px solid grey;
    margin: 1rem 0;
  }
  p {
    display: block;
    width: 100%;
    text-align: center;
    font-size: .8rem;
    text-transform: uppercase;
    color: gray;
    text-decoration: underline;
    padding: 1rem 0;
  }