<div class="section">

    <div class="seeds">
        <div *ngFor="let song of seedSongs">
            <a class="seedItem">{{song.name}}</a>
            <button id="{{song.id}}" class="button is-small is-danger seedRemove" (click)="removeSeed($event)">x</button>
        </div>
    </div>


    <div [formGroup] = "recSettings">

        <button class="button is-success" (click)="submitRecs()">Submit</button>

        <div class="attribute-container-parent">

            <div *ngFor="let formItem of formGenData" class="attribute-item-container">
                <div class="buttons has-addons attributeBtns">
                    <button id="{{ formItem.idRange }}" class="button" [class.is-success]="formItem.item.isRange" (click)="changeBtnRange($event)">R</button>
                    <button id="{{ formItem.idTarget }}" class="button" [class.is-success]="!formItem.item.isRange" (click)="changeBtnRange($event)">T</button>
                </div>
                <div [formGroupName]="formItem.settings" class="valueSelectors">
                    <input type="number" step="0.01" min="0.0" max=1.0 formControlName="minVal" placeholder="0.0" value="0.0"> Min Value
                    <input type="number" step="0.01" min="0.0" max=1.0 formControlName="maxVal" placeholder="1.0" value="1.0"> Max Value
                </div>

            </div>

            <!--  -->

            <!-- Danceability  -->

            <!-- <div class="attribute-item-container">
                <div class="buttons has-addons attributeBtns">
                    <button id="btn-danceable-range" class="button" [class.is-success]="rangeSelections['danceableRange']" (click)="changeBtnRange($event)">R</button>
                    <button id="btn-danceable-target" class="button" [class.is-success]="!rangeSelections['danceableRange']" (click)="changeBtnRange($event)">T</button>
                </div>
                <div formGroupName="danceableSettings" class="valueSelectors">
                        <input type="number" step="0.01" min="0.0" max=1.0 formControlName="minVal" placeholder="0.0" value="0.0"> Min Value
                        <input type="number" step="0.01" min="0.0" max=1.0 formControlName="maxVal" placeholder="1.0" value="1.0"> Max Value
                </div>
            </div> -->
            



            <!-- Acoustics  -->
            <!-- <div class="attribute-item-container">
                <div class="buttons has-addons attributeBtns">
                    <button id="btn-acoustic-range" class="button attributeBtn" [class.is-success]="rangeSelections['acousticRange']" (click)="changeBtnRange($event)">R</button>
                    <button id="btn-acoustic-target" class="button attributeBtn" [class.is-success]="!rangeSelections['acousticRange']" (click)="changeBtnRange($event)">T</button>
                </div>
                <div class="valueSelectors" formGroupName="acousticSettings">
                        <input type="number" step="0.01" min="0.0" max=1.0 formControlName="minVal" placeholder="0.0" value="0.0"> Min Value
                        <input type="number" step="0.01" min="0.0" max=1.0 formControlName="maxVal" placeholder="1.0" value="1.0"> Max Value
                </div>
            </div> -->

            <!-- ENERGY  -->
            <!-- <div class="attribute-item-container">
                <div class="buttons has-addons attributeBtns">
                    <button id="btn-energy-range" class="button attributeBtn" [class.is-success]="energyRange" (click)="changeBtnRange($event)">R</button>
                    <button id="btn-energy-target" class="button attributeBtn" [class.is-success]="!energyRange" (click)="changeBtnRange($event)">T</button>
                </div>
                <div class="valueSelectors" formGroupName="energySettings">
                        <input type="number" step="0.01" min="0.0" max=1.0 formControlName="minVal" placeholder="0.0" value="0.0"> Min Value
                        <input type="number" step="0.01" min="0.0" max=1.0 formControlName="maxVal" placeholder="1.0" value="1.0"> Max Value
                </div>
            </div> -->
        
            <!-- INSTRUMENTALNESS -->
            <!-- <div class="attribute-item-container">
                <div class="buttons has-addons attributeBtns">
                    <button id="btn-instrumental-range" class="button attributeBtn" [class.is-success]="instrumentalRange" (click)="changeBtnRange($event)">R</button>
                    <button id="btn-instrumental-target" class="button attributeBtn" [class.is-success]="!instrumentalRange" (click)="changeBtnRange($event)">T</button>
                </div>
                <div class="valueSelectors" formGroupName="instrumentalSettings">
                        <input type="number" step="0.01" min="0.0" max=1.0 formControlName="minVal" placeholder="0.0" value="0.0"> Min Value
                        <input type="number" step="0.01" min="0.0" max=1.0 formControlName="maxVal" placeholder="1.0" value="1.0"> Max Value
                </div>
            </div> -->
    
            <!-- LIVENESS SETTINGS -->
            <!-- <div class="attribute-item-container">
                <div class="buttons has-addons attributeBtns">
                    <button id="btn-liveness-range" class="button attributeBtn" [class.is-success]="livenessRange" (click)="changeBtnRange($event)">R</button>
                    <button id="btn-liveness-target" class="button attributeBtn" [class.is-success]="!livenessRange" (click)="changeBtnRange($event)">T</button>
                </div>
                <div class="valueSelectors" formGroupName="livenessSettings">
                        <input type="number" step="0.01" min="0.0" max=1.0 formControlName="minVal" placeholder="0.0" value="0.0"> Min Value
                        <input type="number" step="0.01" min="0.0" max=1.0 formControlName="maxVal" placeholder="1.0" value="1.0"> Max Value
                </div>
            </div> -->

        </div>

    </div>


    
</div>

<div class="section">
    <div class="container playlistContainer">
        <!-- <div class="list-hoverable ">
            <div *ngIf="!isPlaylists">
                    <div *ngFor="let playlist of playlists" id="playlist-song-list" cdkDropList cdkDropListConnectedTo="search-song-list" (cdkDropListDropped)="drop($event)">
                            <a class="btn list-item" id={{playlist.id}} cdkDrag>{{playlist.name}}</a>
                        
                    </div>
            </div>
            <div *ngIf="isPlaylists">
                <div *ngFor="let playlist of playlists">
                    <a class="btn list-item" (click)="playlistClicked($event)" id={{playlist.id}}>{{playlist.name}}</a>
                </div>
            </div>
        </div> -->

        <div class="playlist-item-container">
            <div *ngIf="!isPlaylists">
                <button class="button is-success" (click)="backtoPlaylists()">Back</button>
                <!-- <div *ngFor="let playlist of playlists index as i; odd as isOdd; even as isEven"
                [class.odd]="isOdd"
                [class.even]="isEven" 
                id="playlist-song-list" cdkDropList cdkDropListConnectedTo="search-song-list" (cdkDropListDropped)="drop($event)">
                    <a class="btn playlist-song-item" id={{playlist.id}} cdkDrag>{{playlist.name}}</a>
                </div> -->

                <div *ngFor="let playlist of playlists index as i; odd as isOdd; even as isEven"
                [class.odd]="isOdd"
                [class.even]="isEven">

                    <div class="playlist-song-item">
                        <a class="btn song-link" (click)="addSong($event)" id={{playlist.id}}>{{playlist.name}}</a>
                        <!-- <img (click)="addSong()" src="/assets/img/spotify/playlist-plus.png" alt=""> -->
                    </div>
                </div>


            </div>
            <div *ngIf="isPlaylists">
                <div *ngFor="let playlist of playlists">
                    <div class="playlist-item">
                        <img src="/assets/img/spotify/playlist-icon-white.png" alt="">
                        <a class="btn playlist-link" (click)="playlistClicked($event)" id={{playlist.id}}>{{playlist.name}}</a>   
                    </div>
                </div>
            </div>
        </div>




        
    </div>

</div>
